*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding:40px;
    
}

.calculator{
    display: flex;
    flex-direction: column;
    max-width: 392px;
    max-height: 556px;
    background-color: rgb(172, 168, 168);
    padding: 22px;
    border: 2px solid black;
    border-radius: 12px;
    gap: 8px;
    align-items: center;

}
.content{
    height: 516px;
    width: 354px;
}

.result{
    height: 118px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 22px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 22px;
    padding-bottom: 18px;
    padding-top: 20px;
    padding-left: 22px;
}

.operation{
    font-size: 18px;
}

.solution{
    font-size: 40px;
    
}

.clear-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    gap: 12px;
}

.clear, .delete{
    flex: auto;
    font-size: 24px;
    border-radius: 8px;
    width: 170px;
    height: 64px;
    border: 2px solid black;
}

.clear{
    background-color: rgb(240, 120, 120);
}

.delete{
   background-color: rgb(78, 149, 255);
}

.number-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.number{
    font-size: 24px;
    border-radius: 8px;
    flex-basis: 22%;
    width: 80px;
    height: 64px;
    border: 2px solid black;
}

.operator{
    font-size: 24px;
    border-radius: 8px;
    flex-basis: 22%;
    width: 80px;
    height: 64px;
    border: 2px solid black;
}

.dot{
    font-size: 24px;
    border-radius: 8px;
    flex-basis: 22%;
    width: 80px;
    height: 64px;
    border: 2px solid black;
}

.equal{
    font-size: 24px;
    border-radius: 8px;
    flex-basis: 22%;
    width: 80px;
    height: 64px;
    border: 2px solid black;
}